Source: libttymultiplex
Priority: optional
Maintainer: Daniel Patrick Abrecht <deb@danielabrecht.ch>
Build-Depends: libncursesw5-dev, debhelper (>= 12)
Build-Depends-Indep: doxygen, libjs-jquery, graphviz
Standards-Version: 4.3.0
Section: libs
#Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://projects.dpa.li/git/libttymultiplex.git
# Also available at:
#   https://gitlab.com/DanielAbrecht/libttymultiplex.git
#   https://github.com/Daniel-Abrecht/libttymultiplex.git
#   https://source.puri.sm/DanielAbrecht/libttymultiplex.git
Vcs-Browser: https://projects.dpa.li/git/?p=libttymultiplex.git;a=summary

Package: libttymultiplex-dev
Section: libdevel
Architecture: any
Depends: libttymultiplex0 (=${binary:Version}), ${misc:Depends}
Description: Terminal multiplexer library development files
 This contains the header files needed to use the libttymultiplex
 library in another program.

Package: libttymultiplex-doc
Section: doc
Architecture: all
Depends: libjs-jquery, ${misc:Depends}
Description: Terminal multiplexer library documentation of API and internals
 This package contains the documentation for the libttymultiplex library.

Package: libttymultiplex0
Architecture: any
Depends: libttymultiplex0-backend, ${shlibs:Depends}, ${misc:Depends}
Recommends: libttymultiplex0-backend-all
Description: Terminal multiplexer library
 libttymultiplex is a terminal multiplexing library.
 .
 It allows a program to create "panes", which are a
 rectangular area on the terminal/screen in which text
 can be  displayed. Each pane is like a small terminal,
 escape sequences can be sent to them.
 .
 libttymultiplex is also a xterm-compatible  but still
 incomplete terminal emulator. The libttymultiplex library
 allows for different backends for displaying stuff, which
 allows it to be used on any display device any of the
 backends support.

Package: libttymultiplex0-backend-all
Provides: libttymultiplex0-backend
Architecture: all
Depends: libttymultiplex0-backend-curses, ${misc:Depends}
Description: Metapackage for all backends
 This metapackage installs all libttymultiplex backends.

Package: libttymultiplex0-backend-curses
Provides: libttymultiplex0-backend
Architecture: any
Depends: libttymultiplex0 (=${binary:Version}), libncursesw5, ${shlibs:Depends}, ${misc:Depends}
Description: curses backend for libttymultiplex
 This backend for libttymultiplex uses the curses library.
 With this backend, libttymultiplex can be used on an existing terminal.
