Source: libttymultiplex
Priority: optional
Maintainer: Daniel Patrick Abrecht <deb@danielabrecht.ch>
Build-Depends: libncursesw5-dev, debhelper (>= 9)
Standards-Version: 3.9.8
Section: libs
#Homepage: <insert the upstream URL, if relevant>
Vcs-Git:
 https://github.com/Daniel-Abrecht/libttymultiplex.git
 https://gitlab.com/DanielAbrecht/libttymultiplex.git
Vcs-Browser:
 https://github.com/Daniel-Abrecht/libttymultiplex
 https://gitlab.com/DanielAbrecht/libttymultiplex

Package: libttymultiplex-dev
Section: libdevel
Architecture: any
Depends: libttymultiplex0, libncursesw5-dev, ${misc:Depends}
Description: Terminal multiplexer library development files

Package: libttymultiplex0
Architecture: any
Depends: libttymultiplex0-backend, ${shlibs:Depends}, ${misc:Depends}
Recommends: libttymultiplex0-backend-all
Description: Terminal multiplexer library

Package: libttymultiplex0-backend-all
Provides: libttymultiplex0-backend
Architecture: all
Depends: libttymultiplex0-backend-curses
Description: Meta package for all backends

Package: libttymultiplex0-backend-curses
Provides: libttymultiplex0-backend
Architecture: any
Depends: libttymultiplex0, libncursesw5, ${shlibs:Depends}, ${misc:Depends}
Description: curses backend for libttymultiplex
